
body {
    font-family: "AvenirNext-Bold", "Times New Roman", Times, serif;
    color: #4A4A4A;
    background-color: #FFFFFF }

h1 {
    margin-bottom: 0;
}

h2{
    margin: 0 0 0 0;
    font-size 10px;
}

h3 {padding-top: 0em;
    padding-bottom: 0em;
    margin: 0 0;
    color: crimson;
    text-align: center;
}

#header{
    border-bottom:2.5px solid #4A4A4A;
    text-align: center;
    margin: 0px 40px 0px 40px;
}

#links{
    color:#FFFFFF;
}

a:link{
    color:#4A4A4A;
    text-decoration: none;
}

#linkbar li a:visited{
    color:#4A4A4A;
    text-decoration: none;}

#linkbar li a:hover{
    text-decoration: none;
}

#linkbar{
    
    text-align: center;
    list-style: none;
   
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

#linkbar li {
    text-align: center;
    margin-right: -4px;
    display: inline;
}

#linkbar a{
    display: inline;  
    padding: 50px;
}

#introduction{
 
    font-family: AvenirNext-Regular;
    font-size: 18px;
    line-height: 26px;
    float: left;
    width: 55%;
    margin-left: 40px;
}

#introduction ul li {
    list-style: none;
}

#profilediv{
    float: right;
    right: 0;
    padding-right: 40px;
}

#profile{

    border: 1px solid black;
}

/* PROJECTS.HTML */

#project_list{
    float:left;
    font-family: AvenirNext-Regular;
    
}

